In [2]:
#28/6/24 CHEMBL drug targets where inserted into STRING (https://string-db.org) selecting only Homo Sapien genes
#Of the 313 drug targets, 219 where mapped
#They where then converted into a graph with targets as edges and an interaction score as vectors
#This notebook aims to insert each drug SMILE into the graph based on the average of its targets
#The distance of each molecule from each drug target can then be used as a feature set to predict on

import pandas as pd
import numpy as np
#Data import
targetdata = pd.read_csv('/Users/james/Documents/Honours/Data/Targetdata/mutagen/mutDrugTargets.csv')
stringdf = pd.read_csv('/Users/james/Documents/Honours/Data/Targetdata/mutagen/STRING/string_network_coordinates.tsv', sep='\t')
chembltouni = pd.read_csv('/Users/james/Documents/Honours/Data/Targetdata/mutagen/STRING/chembltouniprotmapping.tsv', sep='\t')
stringtouni = pd.read_csv('/Users/james/Documents/Honours/Data/Targetdata/mutagen/STRING/stringtouniprotmapping.tsv', sep='\t')

In [4]:
chembltouni

              From   Entry
0       CHEMBL4780  P04058
1       CHEMBL2414  P51679
2       CHEMBL2326  P43166
3    CHEMBL2096912  Q61239
4    CHEMBL2096912  Q8K2I1
..             ...     ...
309     CHEMBL5163  Q9NY46
310      CHEMBL268  P43235
311     CHEMBL1900  P15121
312     CHEMBL2016  P00740
313     CHEMBL2695  Q05397

[314 rows x 2 columns]